/* Añadir estilos básicos */
.board {
  display: grid;
  gap: 10px;
  width: 100%;
  padding: 20px;
  background-image: url("../assets/introanimada.gif"); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  border: 2px solid #00ff00;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00ff00; /* Efecto de sombra */
  transition: background-color 0.3s ease;
}

/* Añadir estilo a los contadores de game-info*/
.game-info {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Game Over */
.game-over {
  position: fixed; /* Fijo en la pantalla */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar completamente */
  background: rgba(0, 0, 0, 0.9); /* Fondo blanco semi-transparente */
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #ff007f;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Asegurar que esté por encima de otros elementos */
  text-align: center;
  text-shadow: 0px 0px 10px #ff007f;
}


/* Añadir estilo a los botones reset*/ 
.reset-button {
  background-color: #ff007f;
  color: white;
  padding: 10px 20px;
  border: 2px solid #ff007f; 
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000; /* Simula un borde negro en el texto */
}

.reset-button:hover {
  background-color: #00ff00; /* Azul más oscuro */
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000; /* Simula un borde negro en el texto */
}

.exit-button {
  background-color: #ff007f; 
  color: white;
  padding: 10px 20px;
  border: 2px solid #ff007f;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000; /* Simula un borde negro en el texto */
}
.exit-button:hover {
  background-color: #00ff00; /* Verde más oscuro */
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000; /* Simula un borde negro en el texto */
}

/* Ajustar el diseño del board */
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls-container {
  display: flex;
  justify-content: space-between; /* Espacio entre los controles */
  align-items: center;
  width: 60%;
  margin-top: 20px; /* Separación con el board */
}

.game-buttons {
  display: flex;
  gap: 20px; /* Espaciado entre botones */
  justify-content: flex-start; /* Alinear a la izquierda */
}

/* Contenedor de los controles de música */
.music-controls {
  display: flex;
  gap: 15px; /* Espaciado entre barra de volumen y botón */
  justify-content: flex-end; /* Alinear a la derecha */
  align-items: center; /* Alinear verticalmente */
}

/* Botón de detener música */
.stop-music {
  background-color: #ff007f;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border: 2px solid #ff007f;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 0px 10px #ff007f; /* Efecto de brillo */ 
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000; /* Simula un borde negro en el texto */
}

.stop-music:hover {
  background-color: #00ff00; /* Cambia a verde neón al pasar el mouse */ 
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */ 
  border-color: #00ff00; 
  text-shadow: 0px 0px 10px #00ff00; /* Efecto de brillo */ 
  box-shadow: 0px 0px 10px #00ff00; /* Efecto de sombra */ 
  animation: glow 1s infinite; /* Efecto de parpadeo */ 
  transition: all 0.3s ease; /* Transiciones suaves */
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000; /* Simula un borde negro en el texto */
}

/* css para el apartado de preguntar guardar ranking*/

.save-score-container {
  background: rgba(0, 0, 0, 0.9); /* Fondo negro transparente */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff007f;
  text-shadow: 0px 0px 10px #ff007f;
  z-index: 1000;
}

.save-score-message {
  font-size: 22px;
  margin-bottom: 15px;
}

.save-score-container button {
  background-color: #ff007f;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000;
}

.save-score-container button:hover {
  background-color: #00ff00;
  border-color: #00ff00;
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000;
}

/* css para introducir nombre jugador en el ranking */

.name-prompt-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #00ff00;
  text-shadow: 0px 0px 10px #00ff00;
  z-index: 1000;
}

.name-prompt-container input {
  background-color: black;
  color: #ffff00;
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #ffff00;
  margin-bottom: 10px;
}

.name-prompt-container button {
  background-color: #ff007f;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000;
}

.name-prompt-container button:hover {
  background-color: #00ff00;
  border-color: #00ff00;
  text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000, 
               -1px 1px 0 #000, 
               1px 1px 0 #000;

}
