#volume-control {
  appearance: none;
  width: 200px;
  height: 10px;
  background: #ff007f;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}
#volume-control::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #00ff00;
  border-radius: 50%;
  cursor: pointer;
}

.volume-control {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.volume-control label {
  font-size: 14px;
  color: #00ff00;
  text-shadow: 0px 0px 5px #00ff00;
  font-family: "Press Start 2P", cursive; /* Fuente estilo retro */ 
  text-shadow: 0px 0px 10px #ff007f; /* Efecto de brillo */ 
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */ 
}

.stop-music {
  background-color: #ff007f;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border: 2px solid #ff007f;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 0px 10px #ff007f; /* Efecto de brillo */ 
}

.stop-music:hover {
  background-color: #00ff00; /* Cambia a verde neón al pasar el mouse */ 
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */ 
  border-color: #00ff00; 
  text-shadow: 0px 0px 10px #00ff00; /* Efecto de brillo */ 
  box-shadow: 0px 0px 10px #00ff00; /* Efecto de sombra */ 
  animation: glow 1s infinite; /* Efecto de parpadeo */ 
  transition: all 0.3s ease; /* Transiciones suaves */
}